<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>活动</title>

		<link href="../source/css/index.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="../source/js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="../source/js/awardRotate.js"></script>
		<script type="text/javascript" src="../source/js/index.js"></script>

		<style type="text/css">
			body {
				background: #EB2A30;
			}

			.turntable_font {
				display: none;
			}

			.task {
				display: none;
			}

			.rotate {
				top: 30vw;
			}

			.pointer {
				top: 46vw;
			}

			.rules_cover,
			.rules_footer {
				display: none;
			}

			.rules_con {
				height: 96vw;
			}

			.covers2,
			.covers3 {
				height: 65vw;
			}

			.covers1,
			.covers2,
			.covers3 {
				animation: action_translateY 0.6s linear;
			}
		</style>
	</head>
	<body style="">
		<!-- 弹出层 -->
		<div class="cover" style="width: 1583px; height: 703px; display: none;"></div>
		<div class="covers1" style="display: none;">
			<div class="covers_quit">
				<img src="../source/images/origin/pop_up_quit_icon.png" alt="pop_up_quit_icon">
			</div>
			<div class="covers_icon">
				<img src="../source/images/origin/task_draw_reward_free_img.png" alt="task_draw_reward_free_img">
			</div>
			<div class="covers_font">恭喜您获得1次<span>免费</span>的机会</div>
			<div class="covers_btn">立即前往抽奖</div>
		</div>

		<div class="covers2" style="display: none;">
			<div class="covers_quit">
				<img src="../source/images/origin/pop_up_quit_icon.png" alt="pop_up_quit_icon">
			</div>
			<div class="covers_icon">
				<img src="../source/images/origin/task_draw_reward_gereward_img.png" alt="task_draw_reward_gereward_img">
			</div>
			<div class="covers_font">恭喜您获得<span>500金币</span>奖励</div>
			<!-- <div class="covers_btn covers_btn1">支付200金币再抽一次</div>
			<a href="https://www.17sucai.com/preview/703246/2018-08-03/cj/index.html#rules_con_footer">
				<div class="covers_btn2">完成任务,免费抽奖</div>
			</a> -->
		</div>

		<div class="covers3">
			<div class="covers_quit">
				<img src="../source/images/origin/pop_up_quit_icon.png" alt="pop_up_quit_icon">
			</div>
			<div class="covers_icon">
				<img src="../source/images/origin/task_draw_reward_tip_img.png" alt="task_draw_reward_tip_img">
			</div>
			<div class="covers_font">今天的免费机会已经用完</div>
			<!-- <div class="covers_btn covers_btn1">支付200金币再抽一次</div>
			<a href="https://www.17sucai.com/preview/703246/2018-08-03/cj/index.html#rules_con_footer">
				<div class="covers_btn2">完成任务,免费抽奖</div>
			</a> -->
		</div>
		<!-- 收益 -->
		<a href="#" >
			<div class="float_btn" id="prizeRecordId">抽奖收益</div>
		</a>
		<!-- 抽奖转盘 -->
		<div class="turntable">
			<img class="turntablebg" src="../source/images/origin/task_draw_reward_default_bg.png" alt="turntableBg">
			<div class="rotate"><img id="rotate" src="../source/images/origin/task_draw_reward_bg.jpg" style="transform: rotate(53deg);"></div>
			<div class="pointer"><img src="../source/images/origin/task_draw_reward_pointer.png"></div>
		</div>

		<!-- task&rules -->
		<div class="taskRules">
			<div class="rules">
				<div class="task_title">
					<img src="../source/images/origin/task_draw_reward_rule_title_img.png" alt="task_draw_reward_rule_title_img">
				</div>
				<div class="rules_cover">
					<img src="../source/images/origin/task_draw_reward_rule_white_img.png" alt="task_draw_reward_rule_white_img">
				</div>
				<div class="rules_con">
					<ul>
						<li>1、每人每个工号开局有<span>1</span>次抽奖机会；</li>
<!--						<li>2、阅读新闻每20分钟获得<span>1</span>次免费抽奖机会，每天最多<span>2</span>次；</li>-->
<!--						<li>3、观看视频每30分钟获得<span>1</span>次免费抽奖机会，每天最多<span>2</span>次；</li>-->
<!--						<li>4、合计每人每天最多<span>5次免费抽奖机会；</span></li>-->
<!--						<li>5、用户可以花金币购买抽奖机会，<span>200金币一次，次数无限；</span></li>-->
						<li>2、转盘分10份，分别设置为：一等奖、二等奖、三等奖、纪念奖；</li>
						<li>3、抽奖结果以当次抽奖结束后的抽奖收益中内容为准；</li><br>
						<li class="rules_li">温馨提醒：如果页面未及时显示您的免费机会，请尝试退出活动页面再重新进来哦。</li>
					</ul>
					<div id="rules_con_footer" class="rules_con_footer">本活动解释权归讯方公司所有</div>
				</div>
			</div>
		</div>
		<script src="../source/js/indexMax.js"></script>
	</body>
</html>
