<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../source/css/link.css">
		<title>抽奖收益</title>
	</head>
	<body style="">
		<div class="list">
			<ul>
				<li>
					<div class="list_font_left">
						<div class="list_font1">抽奖收益</div>
						<div class="list_font2" id="prizeTime">2018-07-09</div>
					</div>
					<div class="list_font_right" id="prizeMsg">+20金币</div>
				</li>
<!--				<li>-->
<!--					<div class="list_font_left">-->
<!--						<div class="list_font1">购买抽奖</div>-->
<!--						<div class="list_font2">2018-07-09</div>-->
<!--					</div>-->
<!--					<div class="list_font_right">-200金币</div>-->
<!--				</li>-->
<!--				<li class="list_special">只展示七天数据哦...</li>-->
			</ul>
		</div>
		<script type="text/javascript" src="../source/js/jquery-1.10.2.js"></script>
		<script src="../source/js/prizeRecord.js"></script>
	</body>
</html>
